@using Portafolio.Models


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I'm John Smith </h1>
    <h2>I'm a software developer in C# and Python on .NET platforms</h2>
    <img id="foto" src="/image/photo.png" alt="Foto de Perfil" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="/image/dotnet-imagen-2.png" alt="dotnet logo">
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
           Welcome to my Portfolio
        </h1>
        <p>
        Developer and System Administrator, focused on the area of software development
        business for Desktop and Servers under Microsoft Windows and GNU/Linux environment with a
        critical and investigative attitude towards problematic situations of organizations to generate 
        innovative and feasible solutions based on standards. <a href="#"></a>
        Ability to lead information technology projects applying an integrative approach and working as a team.
        Ability to follow and respect the standards of the profession assuming ethical, social and professional 
        responsibilities.
        </p>
    </div>
</div>